<main>
    <div class="card">
        <div class="card-body">
            <div class="row">
                {{#with navigation}}
                <div class="col-5">
                    <h1>{{logo}}</h1>
                </div>
                <div class="nav mt-2 col-7">
                    {{#each links}}
                    <div class="nav-item">
                    <a href="{{href}}" class="nav-link">{{text}}</a>
                    </div>
                    {{/each}}
                    <div class="nav-item">
                    <a href="#" class="nav-link disabled">Disabled</a>
                    </div>
                </div>
                {{/with}}
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-8">
        {{#with formBlock}}
            <h2>{{header}}</h2>
            <div>
                {{#with rating}}
                <div>{{title}}: {{value}}</div>
                {{/with}}
            </div>
                {{#with actionBlock}}
                <div class="nav nav-tabs">
                    {{#each tabs}}
                    <div class="nav-item">
                        <a href="#" class="nav-link {{#if isActive}}active{{/if}}">{{text}}</a>
                    </div>
                    {{/each}}
                </div>
                <br>
                <hr>
                <br>
                <div class="card">
                    {{#with report}}
                    <div class="card-body">
                    <p>{{title}}</p>
                    {{#with button}}
                    <a href="{{link}}" class="btn btn-secondary">{{text}}</a>
                    {{/with}}
                    </div>
                    {{/with}}
                </div>
                {{/with}}
                <br>
                <hr>
                <br>
                {{#with feedbackBlock}}
                <h2>{{title}}</h2>
                <br>
                    {{#each buttons}}
                    <a href="{{link}}" class="btn btn-sm btn-{{#if isWarning}}warning{{else isSuccess}}success{{else isDanger}}danger{{/if}}">{{text}}</a>
                    {{/each}}
                {{/with}}
                </div>
            <div class="col-4">
                {{#with goodsInfo}}
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="{{photo}}">
                            <h6 class="mt-3">
                                {{name}}
                            </h6>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <h6>{{price}}</h6>
                            {{#each buttons}}
                            <a href="{{link}}" class="btn btn-sm btn-{{#if isPrimary}}primary{{else isSecondary}}secondary{{/if}}">{{text}}</a>
                            {{/each}}
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        {{#with seller}}
                        <div class="card-body">
                            <div class="text-sm">
                            {{title}}:<strong>{{value}}</strong>
                            </div>
                        </div>
                        {{/with}}
                    </div>
                {{/with}}
            </div>
        {{/with}}
    </div>
    <br>
    <hr>
    <br>
    {{#each reviewList}}
    <div class="card">
        <div class="card-body">
            <div class="card">
                {{#with title}}
                <div class="card-header">
                    <h6>{{userName}}</h6>
                    <p>{{caption}}</p>
                    <div>{{date}}</div>
                </div>
                {{/with}}
                {{#with reviewBody}}
                <div class="card-body">
                    <div>
                        {{#with seller}}
                        {{title}}: {{value}}
                        {{/with}}
                    </div>
                    <br>
                    <div>
                        {{#with rating}}
                        {{title}}: {{value}}
                        {{/with}}
                    </div>
                    <br>
                    <div>
                        {{#each text}}
                        {{this}}<br>
                        {{/each}}
                    </div>
                    <br>
                    <div>
                        {{#with advantages}}
                        <h6>{{title}}:</h6>{{text}}
                        {{/with}}
                    </div>
                    <br>
                    <div>
                        {{#with disadvantages}}
                        <h6>{{title}}:</h6>{{text}}
                        {{/with}}
                    </div>
                    <br>
                    <div>
                        {{#each images}}
                        <img class="img" src="{{this}}">
                        {{/each}}
                    </div>
                </div>
                {{/with}}
            </div>
            {{#with reviewBody}}
                <br>
                {{#each coments}}
                <ul>
                    <div class="card">
                        <div class="card-body">
                            <h6>{{userName}}</h6>
                            <p>{{date}}</p>
                            <div>{{text}}</div>
                        </div>
                    </div>
                </ul>
                {{/each}}
            {{/with}}
        </div>
    </div>
    {{/each}}
    <br>
    <div class="card text-bg-success">
        {{#with service}}
            <div class="card-body text-center">
                <h2>{{title}}</h2>
                <p>{{description}}</p>
                {{#each buttons}}
                <a href='{{link}}' class="btn btn-primary">{{text}}</a>
                {{/each}}
            </div>
        {{/with}}
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        {{#each footer}}
            {{#each this}}
            <div class="nav col-2 ms-3">
            <div class="nav-item">
                <a href="{{link}}" class="nav-link">{{text}}</a>
            </div>
            </div>
            {{/each}}
        {{/each}}
    </div>
</main>