<main>
    {{#with navigation}}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h1>{{logo}}</h1>
                </div>
                <div class="nav mt-2 col-6">
                    {{#each links}}
                    <div class="nav-item">
                    <a href="{{href}}" class="nav-link">{{text}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}
    <br>
    <h1>{{header}}</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-8">
        {{#with contacts_data}}
            <h2>{{title}}</h2>
            <div>
                {{#each buttons}}
                <a href="#" class="btn btn-{{#if isOutline}}outline-warning{{else isPrimary}}warning{{/if}}">{{text}}</a>
                {{/each}}
            </div>
            <br>
            <div class="row">
                {{#with form.input}}
                    {{#with surname}}
                    <div class="col-6">
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text ">{{caption}}</div>
                    </div>
                    {{/with}}
                    {{#with name}}
                    <div class="col-6">
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text ">{{caption}}</div>
                    </div>
                    {{/with}}
                    {{#with phone}}
                    <div class="col-6">
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text ">{{caption}}</div>
                    </div>
                    {{/with}}
                    {{#with email}}
                    <div class="col-6">
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text ">{{caption}}</div>
                    </div>
                    {{/with}}
                {{/with}}
            </div>
            <br>
            <hr>
            <div>
                {{#each form.switch}}
                    <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"{{#if isActive}}checked{{/if}}>
                    <label class="form-check-label" for="flexSwitchCheckChecked">{{text}}</label>
                    </div>
                {{/each}}
            </div>
        {{/with}}
        <hr>
        {{#with delivery}}
            <h2>{{title}}</h2>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                    {{#each select}}
                        <div class="col-6">
                        <label class="form-label">{{label}}</label>
                        <select class="form-select">
                            <option selected>{{placeholder}}</option>
                            {{#each options}}
                            <option value="{{value}}">{{text}}</option>
                            {{/each}}
                        </select>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                {{#each delivery_type}}
                <div class="col-6">
                    <div class="form-check">
                        <label class="form-check-label">{{type}}</label>
                        <input name="food" type="radio" class="form-check-input">
                    </div>
                </div>
                <div class="col-6">{{value}}</div>
                {{/each}}
            </div>
            <hr>
            <div>
                {{#each payment}}
                    <div class="form-check">
                        <label class="form-check-label">{{type}}</label>
                        <input name="food" type="radio" class="form-check-input">
                        <div>{{description}}</div>
                    </div>
                {{/each}}
            </div>
            <hr>
            {{#with contact}}
            <h2>{{title}}</h2>
            <div class="row">
                {{#with surname}}
                    <div class="col-6">
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text ">{{caption}}</div>
                    </div>
                {{/with}}
                {{#with name}}
                    <div class="col-6">
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text ">{{caption}}</div>
                    </div>
                {{/with}}
                {{#with phone}}
                    <div class="col-6">
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text ">{{caption}}</div>
                    </div>
                {{/with}}
                {{#with email}}
                    <div class="col-6">
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text ">{{caption}}</div>
                    </div>
                {{/with}}
            </div>
            {{/with}}
            <br>
            <hr>
            <div>
                {{#with coment}}
                <label class="form-label">{{label}}</label>
                <input class="form-control" placeholder="{{placeholder}}">
                {{/with}}
            </div>
        {{/with}}
        <br>
        <hr>
        <div>
            {{#with coupon}}
                <h2>{{title}}</h2>
                <div>
                    {{#with select}}
                    <div>
                        {{#with availabel_coupon}}
                        <label class="form-label">{{label}}</label>
                        <select class="form-select">
                            <option selected>{{placeholder}}</option>
                            {{#each options}}
                            <option value="{{value}}">{{text}}</option>
                            {{/each}}
                        </select>
                        {{/with}}
                    </div>
                    <br>
                    <div>
                        {{#with friend_coupon}}
                        <label class="form-label">{{label}}</label>
                        <select class="form-select">
                            <option selected>{{placeholder}}</option>
                            {{#each options}}
                            <option value="{{value}}">{{text}}</option>
                            {{/each}}
                        </select>
                        {{/with}}
                    </div>
                    {{/with}}
                </div>
                <br>
                <div>
                    {{#with add}}
                    <div>
                        {{#with friend}}
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text ">{{caption}}</div>
                        {{/with}}
                    </div>
                    <br>
                    <div>
                        {{#with colleague}}
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text ">{{caption}}</div>
                        {{/with}}
                    </div>
                    {{/with}}
                </div>
            {{/with}}
        </div>
        <br>
        <hr>
        <div>
            {{#with quiz}}
            <h2>{{title}}</h2>
            <br>
            <div>
                {{#with preference}}
                <div class="form-label">{{title}}</div>
                <div>
                    {{#each options}}
                    <div class="form-check">
                        <label class="form-check-label">{{this}}</label>
                        <input type="radio" class="form-check-input">
                    </div>
                    {{/each}}
                </div>
                {{/with}}
            </div>
            <br>
            <div>
                {{#with your_expirience}}
                <label class="form-label">{{label}}</label>
                <input class="form-control">
                {{/with}}
            </div>
            <br>
            <div>
                {{#with purchase_frequency}}
                <label class="form-label">{{label}}</label>
                        <select class="form-select">
                            <option selected>{{placeholder}}</option>
                            {{#each options}}
                            <option value="{{value}}">{{text}}</option>
                            {{/each}}
                        </select>
                {{/with}}
            </div>
            <br>
            <div>
                {{#with factors}}
                <div class="form-label">{{title}}</div>
                <div>
                    {{#each options}}
                    <div class="form-check">
                        <label class="form-check-label">{{this}}</label>
                        <input type="checkbox" class="form-check-input">
                    </div>
                    {{/each}}
                </div>
                {{/with}}
            </div>
            {{/with}}
        </div>
        </div>
        <div class="col-4">
            <div class="card">
            {{#each action_block}}
                <div class="card-body p-1">
                    <a href='#' class="btn btn-sm btn-{{#if isPrimary}}primary{{else isDanger}}danger{{else isInfo}}info{{/if}}">{{text}}</a>
                </div>
            {{/each}}
            </div>
            <br>
            <div>
                {{#with total}}
                <div class="card">
                    <div class="card-body p-1">
                    <h2>{{title}}</h2>
                    {{#each item_list}}
                    <div>{{name}}: {{price}}</div>
                    {{/each}}
                    <hr>
                    {{#each additional_info}}
                    <div>{{text}}: {{value}}</div>
                    {{/each}}
                    <hr>
                    {{#with total_price}}
                    <div>{{text}}: {{value}}</div>
                    {{/with}}
                    <hr>
                    {{#each button}}
                    <a href='#' class="btn btn-sm btn-{{#if isOutline}}outline-primary{{else isPrimary}}primary{{/if}}">{{text}}</a>
                    {{/each}}
                    </div>
                </div>
                {{/with}}
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="row">
        {{#each footer}}
            {{#each this}}
            <div class="nav col-2 ms-3">
            <div class="nav-item">
                <a href="{{link}}" class="nav-link">{{text}}</a>
            </div>
            </div>
            {{/each}}
        {{/each}}
    </div>
</main>