<main>
    <div class="card">
        <div class="card-body">
            <div class="row">
                {{#with navigation}}
                <div class="col-5">
                    <h1>{{logo}}</h1>
                </div>
                <div class="nav mt-2 col-7">
                    {{#each links}}
                    <div class="nav-item">
                    <a href="{{href}}" class="nav-link">{{text}}</a>
                    </div>
                    {{/each}}
                    <div class="nav-item">
                    <a href="#" class="nav-link disabled">Disabled</a>
                    </div>
                </div>
                {{/with}}
            </div>
        </div>
    </div>
    <br>
    <br>
    <h1>{{header}}</h1>
    <div>
        {{#with purchase}}
        <div class="nav nav-tabs">
            <div class="nav-item">
                <a href="#" class="nav-link active">Всі замовлення</a>
            </div>
            <div class="nav-item">
                <a href="#" class="nav-link">Гарантія та повернення</a>
            </div>
        </div>
        <div>
            {{#with actionBlock}}
            <div class="row">
                {{#with input}}
                <div class="col-4">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                    <div class="form-text ">{{caption}}</div>
                </div>
                {{/with}}
                <div class="col-8 mt-4">
                    {{#each buttons}}
                    <a href="#" class="btn btn-{{#if isOutline}}outline-success{{else isSuccess}}success{{else isDanger}}danger{{/if}}">{{text}}</a>
                    {{/each}}
                </div>
            </div>
            {{/with}}
        </div>
        <hr>
        <ul class="list-group list-group-flush">
            {{#each itemList}}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4">
                        {{number}}
                        <h6>{{status}}</h6>
                    </div>
                    <div class="col-2">
                    {{#with amount}}
                        {{title}}:<br><strong>{{value}}</strong>
                    {{/with}}
                    </div>
                    <div class="col-4">
                        {{#each images}}
                        <img class="card-img-top" src="{{this}}">
                        {{/each}}
                    </div>
                    <div class="col-2">
                        {{#with button}}
                        <a href="{{link}}" class="btn btn-{{#if isPrimary}}primary{{/if}}">{{text}}</a>
                        {{/with}}
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
        {{/with}}
    </div>
    <hr>
    <br>
    <div>
        {{#with userInfo}}
        <h2>{{title}}</h2>
        <br>
        <div class="card">
            <div class="card-body">
            {{#with profileData}}
                <h3>{{title}}</h3>
                <br>
                <div class="row">
                {{#with fullName}}
                    <div class="col-4">
                        {{#with surname}}
                        <div>{{title}}</div>
                        <strong>{{value}}</strong>
                        {{/with}}
                    </div>
                    <div class="col-4">
                        {{#with name}}
                        <div>{{title}}</div>
                        <strong>{{value}}</strong>
                        {{/with}}
                    </div>
                    <div class="col-4">
                        {{#with middleName}}
                        <div>{{title}}</div>
                        <strong>{{value}}</strong>
                        {{/with}}
                    </div>
                {{/with}}
                {{#with otherInfo}}
                    <div class="col-4">
                        {{#with birthday}}
                        <div>{{title}}</div>
                        <strong>{{value}}</strong>
                        {{/with}}
                    </div>
                    <div class="col-4">
                        {{#with sex}}
                        <div>{{title}}</div>
                        <strong>{{value}}</strong>
                        {{/with}}
                    </div>
                    <div class="col-4">
                        {{#with language}}
                        <div>{{title}}</div>
                        <strong>{{value}}</strong>
                        {{/with}}
                    </div>
                {{/with}}
                </div>
            {{/with}}
            <div class="row">
                {{#each buttons}}
                    <div class="col-4">
                        <a href="{{link}}" class="btn btn-{{#if isPrimary}}primary{{else isSecondary}}secondary{{else isDanger}}danger{{/if}}">{{text}}</a>
                    </div>
                {{/each}}
            </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                {{#with recipients}}
                <h3>{{title}}</h3>
                <br>
                <div class="row">
                    {{#each users}}
                    <div class="col-4">
                        <strong>{{name}}</strong>
                        <div>{{phone}}</div>
                        {{#with button}}
                        <a href="link" class="btn btn-primary">{{text}}</a>
                        {{/with}}
                    </div>
                    {{/each}}
                </div>
                {{/with}}
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                {{#with contacts}}
                <h3>{{title}}</h3>
                <br>
                <div class="row">
                    {{#with contactData}}
                    <div class="col-4">
                        {{#with phone}}
                        <div>{{title}}</div>
                        <strong>{{value}}</strong>
                        {{/with}}
                    </div>
                    <div class="col-4">
                        {{#with additionalPhone}}
                        <div>{{title}}</div>
                        <strong>{{value}}</strong>
                        {{/with}}
                    </div>
                    <div class="col-4">
                        {{#with email}}
                        <div>{{title}}</div>
                        <strong>{{value}}</strong>
                        {{/with}}
                    </div>
                    {{/with}}
                </div>
            <div class="row">
                {{#each buttons}}
                    <div class="col-4">
                        <a href="{{link}}" class="btn btn-{{#if isPrimary}}primary{{else isSecondary}}secondary{{else isDanger}}danger{{/if}}">{{text}}</a>
                    </div>
                {{/each}}
            </div>
                {{/with}}
            </div>
        </div>
        {{/with}}
    </div>
    <br>
    <hr>
    <div class="row">
        {{#each footer}}
            {{#each this}}
            <div class="nav col-2 ms-3">
            <div class="nav-item">
                <a href="{{link}}" class="nav-link">{{text}}</a>
            </div>
            </div>
            {{/each}}
        {{/each}}
    </div>
</main>