<main>
    <div>
        {{#with page_header}}
        <h1 class='text-center'>{{title}}</h1>
        <div class="text-center text-uppercase">{{description}}</div>
        {{/with}}
    </div>
    <hr>
    <div>
        {{#with section}}
        <div>
            {{#with about_us}}
            <div>
                {{#with title_list}}
                <div class="text-end display-6">{{main}}</div>
                <br>
                <h2 class="text-end">{{sub}}</h2>
                {{/with}}
            </div>
            <br>
            <div>
                {{#with button}}
                <button type="button" class="btn btn-outline-info">{{text}}</button>
                {{/with}}
            </div>
            {{/with}}
        </div>
        <br>
        <br>
        <div>
            {{#with advantage}}
            <div class="display-5">{{title}}</div>
            <br>
            <div class="card">
                <div class="card-body">
                    {{#with efficiency}}
                    <div class="display-4">{{title}}</div>
                    <br>
                    <h6>{{sub_title}}</h6>
                    <br>
                    <div>{{description}}</div>
                    <br>
                    <button type="button" class="btn btn-outline-warning">{{button}}</button>
                    {{/with}}
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    {{#with innovation}}
                    <div class="display-4 text-center">{{title}}</div>
                    <br>
                    <h6 class="text-center">{{sub_title}}</h6>
                    <br>
                    <div class="text-center">{{description}}</div>
                    <br>
                    <button type="button" class="btn btn-outline-warning">{{button}}</button>
                    {{/with}}
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    {{#with collaboration}}
                    <div class="display-4 text-end">{{title}}</div>
                    <br>
                    <h6 class="text-end">{{sub_title}}</h6>
                    <br>
                    <div class="text-end">{{description}}</div>
                    <br>
                    <button type="button" class="btn btn-outline-warning">{{button}}</button>
                    {{/with}}
                </div>
            </div>
            {{/with}}
        </div>
        <br>
        <br>
        <div>
            {{#with agreement}}
            <div class="display-5">{{title}}</div>
            <br>
             <div class="card">
                <div class="card-body">
                    {{#with info}}
                    <h5>{{sub_title}}</h5>
                    <br>
                    <div>
                        {{#with detail}}
                        <div>{{text}}</div>
                        <br>
                        <button type="button" class="btn btn-success">{{button}}</button>
                        {{/with}}
                    </div>
                    {{/with}}
                </div>
            </div>
            {{/with}}
        </div>
        {{/with}}
    </div>
</main>